@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using App_CCP.Models
@inject UserManager<Users> UserManager

<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App_CCP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/App_CCP.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" asp-controller="Home" asp-action="Index" title="Acasă">
                    <img src="@Url.Content("~/Images/ccp_logo3.png")" alt="Logo" style="height: 60px;" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <!-- Meniu stânga -->

                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link text-light fw-semibold fs-5" asp-controller="AboutCCP" asp-action="Index">Despre CCP</a>
                    </li>

                    <!--Review-uri-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light fw-semibold fs-5" href="#" id="reviewDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Recenzii
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="reviewDropdown">
                            <li><a class="dropdown-item" asp-controller="Review" asp-action="AddReview">Adaugă o recenzie</a></li>
                            <li><a class="dropdown-item" asp-controller="Review" asp-action="PublishedReviews"> Vizualizează recenzii</a></li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li><a class="dropdown-item" asp-controller="Review" asp-action="Manage">Gestionare recenzii</a></li>
                            }
                        </ul>
                    </li>

                    <!--Parteneri-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light fw-semibold fs-5" href="#" id="partnersDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false"> Parteneri
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="partnersDropdown">
                            <li><a class="dropdown-item" asp-controller="Partner" asp-action="Index">Listă Parteneri</a></li>

                            @if (User.IsInRole("Admin"))
                            {
                                <li><a class="dropdown-item" asp-controller="Partner" asp-action="Manage">Gestionare Parteneri</a></li>
                            }
                            @if (User.IsInRole("Partner"))
                            {
                                <li><a class="dropdown-item" asp-controller="Partner" asp-action="ValidCardUsers">Vizualizare Utilizatori Activi</a></li>
                                <li><a class="dropdown-item" asp-controller="Partner" asp-action="EditOwnProfile">Editare profil propriu</a></li>
                            }
                        </ul>
                    </li>
                    <!--Noutati-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light fw-semibold fs-5" href="#" role="button" data-bs-toggle="dropdown">
                            Noutăți
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-controller="News" asp-action="Carousel">Vezi noutățile</a>
                            </li>
                            @if (User.IsInRole("Admin") || User.IsInRole("Partner"))
                            {
                                <li>
                                    <a class="dropdown-item" asp-controller="News" asp-action="Index">Gestionare noutăți</a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>

                <!-- Meniu dreapta -->
                <ul class="navbar-nav ms-auto">
                    <!--Iconita help-->
                    <li class="nav-item">
                        <a class="nav-link text-success me-1" asp-controller="Help" asp-action="Index" data-bs-toggle="tooltip" title="Ajutor">
                            <i class="fas fa-question-circle fa-2x"></i>
                        </a>
                    </li>
                    <!--Iconita card-->
                    @if (User?.Identity?.IsAuthenticated == true)
                    {
                        var user = await UserManager.GetUserAsync(User);

                        if (user != null && user.IsCardApprovedByAdmin && !string.IsNullOrEmpty(user.UniqueCode))
                        {
                                <li class="nav-item d-flex align-items-center">
                                    <a class="nav-link text-success" asp-controller="Card" asp-action="GenerateCard" title="Cardul meu">
                                        <i class="fas fa-id-card-alt fa-2x"></i>
                                    </a>
                                </li>
                        }
                    }
                    <!--Nume utilizator + foto profil-->
                    @if (User?.Identity?.IsAuthenticated == true)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-items-center text-light fw-semibold fs-5" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@User.FindFirst("ProfilePicture")?.Value" alt="User" width="36" height="36"
                                class="rounded-circle me-2 border border-white shadow-sm" />
                                <span>@User.FindFirstValue("FullName")</span>  @* Afișează numele complet *@
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <partial name="_LoginPartial" />
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light fw-semibold fs-5" asp-controller="Account" asp-action="Login">Autentificare</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light fw-semibold fs-5" asp-controller="Account" asp-action="Register">Înregistrare</a>
                        </li>
                    }
                </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-grow-1">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="border-top footer text-muted mt-auto">
        <div class="container d-flex flex-column flex-md-row justify-content-center align-items-center gap-2 py-3 text-center text-md-start">
            &copy; 2025 - App_CCP -
            <a asp-controller="Home" asp-action="Privacy">Politica de confidențialitate</a>
            <a asp-controller="Home" asp-action="Terms">Condiții generale de utilizare</a>
            @if (User?.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
            {
                <a asp-controller="Admin" asp-action="UploadDocuments">Admin: Încărcare Documente</a>
            }
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation/dist/localization/messages_ro.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
